.payment-logo img{
  position: relative;
}
.content{
  margin-top: 0;
}
.payment-content img{
  width: 20px;
  position: relative;
  top: -3px;
}
.payment-content{
  text-align: center;
  font-size: 24px;
  color: #666;
  margin-top: 60px;
}
.payment-content span{
  margin-left: 10px;
}
.payment-content p{
  font-size: 40px;
}
.payment-content div:nth-child(2) span{
  color: #333;
}
.payment-content div:nth-child(2){
  margin-top: 10px;
}
.goPay{
  margin: 0 auto;
  display: block;
  width: 3rem;
  height: .7rem;
  line-height: .7rem;
  margin-top: .8rem;
  letter-spacing: 3px;
}
#ZFBPAY{
  display: none;
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
}
.pay-footer-icon img{
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
}

.paydo{
  font-size: 20px;
  margin-left: 250px;
  margin-top: 50px;
}
.paydo div span:nth-child(2){
  position: relative;
  top: 5px;
  margin-left: 10px;
}
.paydo div span{
  font-size: 30px;
}
.paydo div span img{
  width: 35px;
}
