.recharge-list{
  height: 100%;
  background-color: #f2f2f2;
  padding-bottom: 200px;
}
.recharge-li{
  font-size: 30px;
  border-top: 30px solid #f2f2f2;
  background-color: #fff;
  line-height: 100px;
  clear: both;
  width: 100%;

}
#ZFBPAY{
  display: none;
}
.recharge-li:last-child{
  margin-bottom: 50px;
}
.recharge-li h3{
  font-size: 30px;
  color: #333;
  padding-left: 40px;
  position: relative;
}
.recharge-li h3 img{
  width: 34px;
  height: 34px;
  position: relative;
  top: -3px;
  left: 20px;
}
.recharge-li ul{
  background-color: #fff;
  border-top: 1px solid #f2f2f2;
  padding-bottom: 30px;
}
.recharge-li ul li{
  width: 206px;
  margin-left: 30px;
  height: 100px;
  border: 1px solid #e2e2e2;
  float: left;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.recharge-li ul li img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
}
.recharge-li ul li p{
  color: #333;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}
.recharge-li ul li p:first-child{
  margin-top: 10px;
}
.recharge-li ul li p span{
  color: #c81a29;
}
.recharge-li-active{
  border: 1px solid #c81a29 !important;
}
.recharge-li-active p span{
  color: #333 !important;
}
.recharge-invoice img{
  width: 18px !important;
  height: 30px !important;
  position: absolute !important;
  right: 30px !important;
  top: 34px !important;
  left: auto !important;
}
.recharge-li ol li{
  height: 110px;
  line-height: 110px;
  color: #333;
  padding-left: 30px;
  border-bottom: 1px solid #e2e2e2;
  background-color: #fff;
}
.recharge-li ol li img:nth-child(1){
  width: 64px;
}
.recharge-li ol li img:nth-child(3){
  width: 38px;
  float: right;
  position: relative;
  right: 30px;
  top: 35px;
}
.recharge-li ol li span{
  margin: 0 30px;
}
.recharge-li ol{
  border-top: 1px solid #e2e2e2;

}
.recharge-footer{
  height: 100px;
  width: 100%;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  background-color: #d5393c;
  position: fixed;
  bottom: 0;
}
.recharge-month{
  position: fixed;
  top: 0;
  left: 0;
}
.month-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  z-index: 999999;
}
.month-content{
  position: fixed;
  width: 86%;
  left: 5%;
  background-color: #fff;
  color: #333;
  z-index: 9999999;
  top: 30%;
  border-radius: 10px;
  padding: 30px 2%;
}
.month-content h3{
  font-size: 36px;
  text-align: center;
  line-height: 100px;
}
.month-content p{
  font-size: 24px;
  line-height: 60px;
}
.recharge-discount{
  position: absolute;
  top: -10px;
  right: -40px;
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 80px;
  font-size: 12px;
  background-color: #13e000;
  color: #c81a29;
  text-align: center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.recharge-li:nth-child(3) span{
  float: right;
  position: relative;
  left: -80px;
}
.recharge-li:first-child{
  border-top: none;
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
  .recharge-li ul li{
    width: 270px;
  }
}
#ZFBPAY .J-btn-submit{
  width: 100%;
}
