<div class="home-filtrate-detail">
  <app-header class="home-header" [title]="filtrateDetailTitle" (parentGoBack)="goBack($event)" ></app-header>
  <div class="filtrate-detail-content">
    <ul class="cl">
      <!--<li *ngFor="let list of itemList">
        <img [src]="list.goods_img_url">
        <p>{{list.sell_pt}}</p>
        <p class="cl"><span class="price">{{list.shop_price}}</span> <span class="address">广东省广州市</span></p>
      </li>-->
    </ul>
  </div>
  <!--<div class="content">
    <div class="lists"></div>
  </div>-->
  <!--<div class="nodata">数据已加载完毕</div>-->
</div>
