<div class="shopping-order-transportation">
  <!--<app-header [title]="title" (parentGoBack)="goBack()"></app-header>-->
  <div class="order-transportation-content">

    <div class="order-transportation-message">
      <img src="../../../../assets/imgs/order-message-icon-1.png" alt="图标">
      <p><span>物流状态 </span><span> 已出货</span></p>
      <p>承运来源: 顺丰快递</p>
      <p>运单编号: 8888888888888888</p>
    </div>
    <div class="order-transportation-course">
      <ul>
        <li class="course-active">
            <i></i>
            <h3>您的包裹已出库</h3>
            <p>2018-02-28  18:22:55</p>
        </li>
        <li>
          <i></i>
          <h3>您的包裹已出库</h3>
          <p>2018-02-28  18:22:55</p>
        </li>
        <li>
          <i></i>
          <h3>您的包裹已出库</h3>
          <p>2018-02-28  18:22:55</p>
        </li>
      </ul>
    </div>

    <app-guess-you-like></app-guess-you-like>
  </div>

</div>

